img
	height: 580px
.card
	height: 828px
/* Header  */
.header
	background: #03050b
	.navbar-brand
		color: white
		padding-left: 1em
	.form-inline
		.form-control
			border-radius: .25rem 0 0 .25rem
			color: white
		.form-control, .btn
			background: #12141e
			border: 1px solid #12141e
			color: white
		.btn
			border-radius: 0 .25rem .25rem 0
			color: #3e4353
	.navbar-nav
		flex-direction: row
		.link
			color: white !important
			padding-right: 1em
/* Header  */
/* Poratda*/
.portada
	padding: 3em 0
	background: #12141e
	.fotos
		color: white
		text-decoration: none
		position: relative
		display: inline-block
		
		img
			width: 100%
			height: auto
			filter: brightness(90%)
			transition: .3s
		.hidden
			text-align: center
			position: absolute
			bottom: 0
			left: 0
			height: 100%
			width: 100%
			align-items: center
			flex-direction: column
			justify-content: space-between
			padding-top: 25%
			display: none
			transition: 1s
			top: 100%
			.fa
				font-size: 4rem
	.fotos:hover
		img
			transform: scale(1.2)
			z-index: 1000
		.hidden
			transition: .3s
			top: 0
			display: flex
			transform: scale(1.2)


/* Poratda*/


