doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Las Mejores Películas
	link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet", href="font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	header.header
		nav.navbar.navbar-light.justify-content-between.menu
			<a class="navbar-brand" href="/mejorespeliculas">Mejorespeliculas</a>
			<form class="form-inline">
				<input class="form-control" type="text" placeholder="Buscar" aria-label="Search">
				<button class="btn" type="submit">
					span.fa.fa-search
				</button>
			</form>
			
			ul.navbar-nav
				li
					<a class="nav-link link" href="#">Iniciar Seción</a>
				li
					<a class="nav-link link" href="#">Registrarse</a>
	section.portada
		.row.align-items-center
			.col-md-4
				a(href="#").fotos
					img(data-src="img/wonder.jpg", alt="wonder")
					.hidden
						i.fa.fa-play-circle-o
						p Mujer Maravilla
			.col-md-4
				a(href="#").fotos
					img(data-src="img/spiderman.jpg", alt="spiderman")
					.hidden
						i.fa.fa-play-circle-o
						p Spiderman Regreso a Casa
			.col-md-4
				a(href="#").fotos
					img(data-src="img/piratas.jpg", alt="piratas")
					.hidden
						i.fa.fa-play-circle-o
						p Piratas del Caribe
	section.cartelera
		ul.menu
			li
				a(href="#")!= "Categoria <i class='fa fa-bars'></i>"
					
			li
				label Año
				a(href="#")!= "2017 <i class='fa fa-angle-down'></i>"
					
			li
				label Calidad
				a(href="#")!= "Full HD 1080p <i class='fa fa-angle-down'></i>"
		.categorias
			ul.cat
				li
					a(href="#") Acción
				li
					a(href="#") Animación
				li
					a(href="#") Aventura
				li
					a(href="#") Biografía
				li
					a(href="#") Ciencia ficción
				li
					a(href="#") Cine negro
				li
					a(href="#") Comedia
				li
					a(href="#") Crimen
				li
					a(href="#") Deporte
				li
					a(href="#") Documental
				li
					a(href="#") Drama
			.recomendado
				h3 Recomendado
				.col-md-12
					.card
						a(href="#")
							img.card-img-top(data-src="img/logan.jpg", alt="logan")
							.nuevo
								span Nuevo
						.card-body
							h4.card-title Logan
							small.text-muted Descipcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				
		article.peliculas
			.row
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/nerve.jpg", alt="nerve")
						.card-body
							h4.card-title Nerve
							small.text-muted Descipcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/villano.jpg", alt="villano")
						span.card-body
							h4.card-title Mi villano Favorito 3
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/baywatch.jpg", alt="baywatch")
						span.card-body
							h4.card-title BayWatch
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/it.jpg", alt="it")
						span.card-body
							h4.card-title It
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/power.jpg", alt="power")
						span.card-body
							h4.card-title Power Rangers
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/woman.jpg", alt="woman")
						span.card-body
							h4.card-title Wonder Woman
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/guardianes.jpg", alt="guardianes")
						span.card-body
							h4.card-title Guardianes de la Galaxia 2
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				.col-md-4
					.card
						a(href="#")
							img.card-img-top(data-src="img/momia.jpg", alt="momia")
						span.card-body
							h4.card-title Momia
							small.text-muted Descripcion
							ul.estrellas
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
								li
									a(href="#")
										i.fa.fa-star
				ul.navegacion
					li
						a(href="#").prev
							i.fa.fa-angle-left
					li
						a(href="#") 1
					li
						a(href="#") ...
					li
						a(href="#") 13
					li
						a(href="#") 14
					li
						a(href="#").active 15
					li
						a(href="#") 16
					li
						a(href="#") 17
					li
						a(href="#") ...
					li
						a(href="#") 94
					li
						a(href="#").next
							i.fa.fa-angle-right

	footer.footer
		.footer-body
			.container
				.division
					h4 Categoria
					ul
						li
							a(href="#") Accion
						li
							a(href="#") Comedia
						li
							a(href="#") Romance
				.division
					h4 Mejores
					ul
						li
							a(href="#") Kong
						li
							a(href="#") Arthur
						li
							a(href="#") nuevo
				.division
					h4 Redes Sociales
					ul.sociales
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-instagram
		.footer-footer
			.container
				p!= "&copy; 2017 Diseño y Desarrollo por <a href='http://jesusrojas.com.ve'>Jesús Rojas</a>"
	script(src="js/jquery.js")
	script(src="bootstrap/js/bootstrap.min.js")
	script(src="js/lazy.js")
	script(src="js/app.js")